@page "/"
@using Bluefish.Connections.Interfaces

<PageTitle>Index</PageTitle>


<div>Home</div>

<hr/>

<EditForm Model="_model">

    <ConnectionSelector @bind-Type="_dataType" />

    <hr/>

    <ConnectionSettings CanEdit="true"
                        ConnectionType="@_dataType"
                        @bind-Settings="_settings" />

</EditForm>

<hr/>

<textarea style="width: 100%;" rows="6">@_settings</textarea>

@code {
    private string _dataType = ConnectionSelector.TOKEN_NONE;
    private object _model = new();
    private string _settings = "{}";
}