@inherits SettingsBase<LocalFileSystemConnection>

<div class="@CssClass">
    <label class="form-label">Root Folder</label>
    <InputText ValueExpression="@(() => _connection.RootPath)"
               Value="@_connection.RootPath"
               ValueChanged="OnRootPathChanged"
               class="form-control form-control-sm"
               disabled="@(!CanEdit)" />
    <ValidationMessage For="() => _connection.RootPath" />
</div>